.flex {
    display: flex;
}

.grid {
    display: grid;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.contact-btn {
    border: 2px solid #25d8e0;
    /* Cyan border */
    color: #25d8e0;
    /* Cyan text */
    background-color: transparent;
    padding: 12px 32px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    background-color: #25d8e0;
    color: #000;
    /* Text color on hover */
}

.btn-primary {
    background: var(--primary);
    color: var(--secondary);
}

.btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary {
    background: transparent;
    color: var(--primary);
    border-color: var(--primary);
}

.btn-secondary:hover {
    background: var(--primary);
    color: var(--secondary);
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}